backup_output_net1_discount_0_batch_32
backup_output_net1_discount_0_batch_400_best
backup_output_net1_discount_0_batch_400_random_mines
backup_output_net2_discount_0_99_batch_32_figure
backup_output_net2_discount_0_batch_32_figure
backup_output_net2_discount_0_batch_400_best
checkpoint_best_model